/* ===== Small devices (tablets, 768px and up) ===== */
@media (min-width: 768px) {
  /* jumbotron */
  .container .jumbotron {
    padding: 30px 40px;
  }
  header.jumbotron h3 {
    display: none;
  }

  /* nav tabs: primary nav */
  nav#primary-nav {
    padding-bottom: 0px;
    display: block;
  }
  nav#primary-nav li.active a {
    border-top: 3px solid #34B7B3;
  }
  nav#primary-nav li:not(.active) a:hover {
    background-color: #3CC8C3;
    color: #333;
  }
  nav#primary-nav li a {
    border: 0px;
    padding: 12px 0px;
  }

  /* blog post images */
  article div.post-body img {
    max-width: 50%;
    max-height: 400px;
  }
  img.pull-right {
    margin: 12px 0px 12px 12px;
  }
  img.pull-left { 
    margin: 12px 12px 12px 0px;
  }
}

/* ===== Medium devices (desktops, 992px and up) ===== */
@media (min-width: 992px) {
  /* jumbotron */
  .container .jumbotron {
    background-color: #337ab7;
    background: -webkit-linear-gradient(#34B7B3, #337ab7); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#34B7B3, #337ab7); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#34B7B3, #337ab7); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#34B7B3, #337ab7); /* Standard syntax */
    padding: 50px 60px;
  }
  header.jumbotron h1 {
    margin: 20px 0px 0px 0px;
  }

  /* nav tabs: primary nav */
  nav#primary-nav li span.glyphicon {
    display: block;
    margin: 0px auto 3px auto;
  }
  nav#primary-nav {
    padding: 0px 10%;
  }
  nav#primary-nav li a {
    padding: 12px 0px 6px 0px;
  }

  /* blog filter nav */
  nav#blog-filter {
    text-align: right;
  }


}

/*  ===== Large devices (large desktops, 1200px and up) ===== */
@media (min-width: 1200px) {

}
