@import url(https://fonts.googleapis.com/css?family=Lora:700,700italic);

/* ========== JUMBOTRON & PRIMARY NAV ========== */
#site-header {
  background-color: #337ab7;
  color: white;
  font-family: 'Lora', serif;
}

#primary-nav {
  background-color: #337ab7;
}

@media (min-width: 992px) {
  #site-header {
    background-color: #337ab7;
    background: -webkit-linear-gradient(#34B7B3, #337ab7);
    background: -o-linear-gradient(#34B7B3, #337ab7); 
    background: -moz-linear-gradient(#34B7B3, #337ab7); 
    background: linear-gradient(#34B7B3, #337ab7); 
  }
}

.post-title {
  font-family: 'Lora', serif;
}
.post-body h1, .post-body h2 {
  font-size: 1.75em;
}

/* ========== FOOTER ========== */
.footer {
  background-color: #EEE;
}
.footer-text {
  margin-top: 20px;
}

/* ========== ARTICLE EDITOR ========== */
#preview-area h2:first-child {
  color: #337ab7;
}

#json-area {
  background-color: #6EBF6E;
}

.warning {
  color: #d9534f;
}

.hljs {
  background-color: transparent;
}


