<img src="{{{avatar_url}}}" />
<h3 id="bio-name"><a href="{{{html_url}}}" target="_blank">{{name}}</a>  <small>({{login}})</small></h3>

<h5 id="bio-loc"><span class="glyphicon glyphicon-map-marker"></span> {{location}}</h5>
<hr />
<div id="bio-stats" class="row">
  <div class="col-xs-4">
    <h3>{{public_repos}}</h3>
    <h6>repos</h6>
  </div>
  <div class="col-xs-4">
    <h3>{{followers}}</h3>
    <h6>followers</h6>
  </div>
  <div class="col-xs-4">
    <h3>{{following}}</h3>
    <h6>following</h6>
  </div>
</div>
<hr />
