<article>
  <hr />
  <h1 class="post-title">{{{title}}}</h1>
  <h4 class="post-subtitle">
    By <a href="{{{authorUrl}}}">{{author}}</a>{{daysPub}}
    {{#if_admin}}
      <button class="post-edit btn btn-primary" data-dbId="{{id}}">Edit post</button>
    {{/if_admin}}
  </h4>
  <div class="post-body">{{{body}}}</div>
  <button class="post-read-on btn btn-default">
    Read on <span class="glyphicon glyphicon-triangle-right"></span>
  </button>
  <button class="post-collapse btn btn-default">
    Collapse <span class="glyphicon glyphicon-triangle-top"></span>
  </button>
  <h6 class="post-category">Category: {{category}}
    <a href="/articles/{{id}}"><span class="disqus-comment-count label label-default" data-disqus-identifier="{{id}}">View comments</span></a>
  </h6>
</article>
